body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.error-container {
    text-align: center;
    padding-top: 20%;
}

.error-code {
    font-size: 72px;
    color: #555;
}

.error-message {
    color: #888;
    font-size: 24px;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    color: #008CBA;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #008CBA;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #008CBA;
    color: white;
}
